<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="QuizEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itdevsqlteszt.database.windows.net;initial catalog=Quiz;persist security info=True;user id=quizdbo;password=7yqEwIcK4AFc2t0xqvbMn6cJK;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>